* text=auto !eol
demo/swing/.classpath -text svneol=unset#text/plain
demo/swing/.project -text svneol=unset#text/plain
demo/swing/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
demo/swing/src/info/bioinfweb/libralign/demo/swing/Main.java -text svneol=unset#text/plain
demo/swt/.classpath -text svneol=unset#text/plain
demo/swt/.project -text svneol=unset#text/plain
demo/swt/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
demo/swt/src/info/bioinfweb/libralign/demo/swt/Main.java -text svneol=unset#text/plain
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
