* text=auto !eol
demo/.classpath -text svneol=unset#text/plain
demo/.project -text svneol=unset#text/plain
demo/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
demo/src/info/bioinfweb/libralign/demo/AbstractTestApplication.java -text svneol=unset#text/plain
demo/src/info/bioinfweb/libralign/demo/swing/Main.java -text svneol=unset#text/plain
demo/src/info/bioinfweb/libralign/demo/swt/Main.java -text svneol=unset#text/plain
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/lib/biojava3-alignment-3.0.7.jar -text
main/lib/biojava3-core-3.0.7.jar -text
main/lib/core-1.8.5.jar -text
main/lib/sequencing-1.8.5.jar -text
main/lib/swt.jar -text
main/src/info/bioinfweb/libralign/AlignmentArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/AlignmentDataViewMode.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/AlignmentSubArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/GeneticCode.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/SequenceColorSchema.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/SequenceOrder.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/WorkingMode.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/AlignmentLabelArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/SWTAlignmentOverviewArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/SWTAlignmentPartArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/SWTAlignmentPartScroller.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/SWTScrolledCompositeResizeListener.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/SequenceArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/SequenceAreaMap.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/SwingAlignmentOverviewArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/SwingAlignmentPartArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/TokenPainter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/ToolkitSpecificAlignmentOverviewArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/ToolkitSpecificAlignmentPartArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/alignmentareacomponents/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/DataArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/DataAreaChangeEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/DataAreaChangeEventList.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/DataAreaList.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/DataAreaListType.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/DataAreaLocation.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/DataAreaModel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/DataAreaModelListener.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/DataAreaVisibleIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/implementations/ConsensusSequenceArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/implementations/CustomHeightFullWidthArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/implementations/SequenceIndexArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/implementations/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/implementations/pherogram/PherogramAlignmentModel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/implementations/pherogram/PherogramArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/implementations/pherogram/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/dataarea/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/pherogram/BioJavaPherogramProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/pherogram/PherogramComponent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/pherogram/PherogramFormats.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/pherogram/PherogramHeadingView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/pherogram/PherogramPainter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/pherogram/PherogramProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/pherogram/PherogramTraceCurveView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/pherogram/PherogramUtils.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/pherogram/ReverseComplementPherogramProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/pherogram/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/selection/AlignmentCursor.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/selection/OneDimensionalSelection.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/selection/SelectionChangeEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/selection/SelectionDimension.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/selection/SelectionListener.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/selection/SelectionModel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/selection/SelectionType.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/selection/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/BasicSequenceDataView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/DataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/SequenceAccess.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/SequenceAccessDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/SequenceDataChangeListener.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/SequenceDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/SequenceDataProviderWriteType.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/SequenceDataView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/adapters/AbstractSequenceDataAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/adapters/AbstractSingleSequenceDataAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/adapters/BioJavaSequenceAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/adapters/CharSequenceAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/adapters/InvalidUnderlyingTokenException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/adapters/SequenceDataAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/adapters/SingleBioJavaSequenceAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/adapters/SingleCharSequenceAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/adapters/SingleSequenceDataAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/adapters/StringAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/adapters/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/events/SequenceChangeEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/events/SequenceDataProviderChangeEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/events/SequenceRenamedEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/events/TokenChangeEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/events/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/exception/AlignmentDataProviderException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/exception/AlignmentSourceNotWritableException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/exception/DuplicateSequenceNameException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/exception/InvalidCompoundException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/exception/SequenceNotFoundException.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/exception/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/AbstractListSequenceDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/AbstractMapBasedSequenceDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/AbstractSequenceDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/AbstractSequenceDataView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/AbstractSequenceIDIterator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/AbstractUnmodifyableSequenceDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/ArrayListSequenceDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/BioJavaSequenceDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/CharSequenceDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/PackedSequenceDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/SwingEditFactory.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/SwingUndoSequenceDataProvider.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/LibrAlignSwingAlignmentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/sequence/SwingAddSequenceEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/sequence/SwingConcreteAddSequenceEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/sequence/SwingRemoveSequenceEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/sequence/SwingRenameSequenceEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/sequence/SwingSequenceEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/sequence/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/token/SwingInsertRemoveTokensEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/token/SwingInsertTokensEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/token/SwingRemoveTokensEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/token/SwingSetTokensEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/token/SwingTokenEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/edits/token/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/swingundo/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/translation/DNASequenceDataView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/translation/RNASequenceDataView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/translation/SameTokenTypeSequenceDataView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/implementations/translation/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/tokenset/AbstractTokenSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/tokenset/BioJavaTokenSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/tokenset/CharacterTokenSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/tokenset/TokenSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/libralign/sequenceprovider/tokenset/TokenSetTools.java -text svneol=unset#text/plain
test/.classpath -text svneol=unset#text/plain
test/.project -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
test/data/pherograms/Test_pel1PCR_Pel2Wdhg_PCR-7-A_1.ab1 -text
test/data/pherograms/Test_pel1PCR_Pel2Wdhg_PCR-7-A_1.scf -text
test/data/pherograms/Test_pel1PCR_Pel2Wdhg_PCR-7-A_1.scf.gz -text
test/data/pherograms/Test_qualityScore.scf -text
test/lib/gui-1.8.5.jar -text
test/lib/hamcrest-core-1.3.jar -text
test/lib/junit-4.11.jar -text
test/src/info/bioinfweb/libralign/SequenceOrderTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/dataarea/DataAreaListTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/dataarea/implementations/pherogram/PherogramAlignmentModelTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/pherogram/DefaultPherogramAlignmentModelTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/pherogram/SWTPherogramComponentApplication.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/pherogram/SwingPherogramComponentApplication.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/test/BioJavaAlignmentRendererTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/test/BioJavaPherogramTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/test/BitShiftTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/test/GenericCollectionTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/test/PrimitiveIntegersPerformanceTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/test/SWTFixedSize.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/test/SashFormAdvanced.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/test/SequenceAreaSWTTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/test/alignmentareacomponents/SWTTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/libralign/test/alignmentareacomponents/SwingTest.java -text svneol=unset#text/plain
